.carousel-item{
    background-size: cover;
    background-position: bottom ;
}
.carousel-box{
    background-color: rgba(red, green, blue, alpha);
    padding: 20px;
    border-top:5px solid green ;
    border-radius:5px  ;

}
.carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius:50% ;
}
.navbar{
    background-color: azure;
}
.title h2{
    text-transform: uppercase;
}
main section{
    padding-top:80px ;
    padding-bottom:80px ;
}

